<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216439289277-a3rj1blgu9ceu3ksrv7ke0ui1vqdpibp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216439289277-a3rj1blgu9ceu3ksrv7ke0ui1vqdpibp</string>
	<key>API_KEY</key>
	<string>AIzaSyDQHnPBUuytZ3b6qWWHBu36MdH-xcognqU</string>
	<key>GCM_SENDER_ID</key>
	<string>216439289277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hbconsulting.communiji</string>
	<key>PROJECT_ID</key>
	<string>communiji-ac8dc</string>
	<key>STORAGE_BUCKET</key>
	<string>communiji-ac8dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216439289277:ios:99d1d23e79502d161d0ed4</string>
	<key>DATABASE_URL</key>
	<string>https://communiji-ac8dc.firebaseio.com</string>
</dict>
</plist>